body {
    background-color: #971111;
}

.header {
    color: #fff;
}

.footer {
    background-color: #B50000;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .article.banner {
        background-color: #B50000;
        color: #fff;
    }
}

.article .label.primary {
    border: 1px solid #B50000;
    background-color: #B50000;
}

.article .title:hover {
    color: #B50000BB;
}

.article.dark .title:hover {
    color: #dbb3b5;
}

.sidebar-content h2 {
    border-left: 10px solid #B50000;
}

.header .nav a:hover {
    color: #dbb3b5;
}
